p {
    color : #22402e;
}

body {
    background-color: #EDF2F4;
    margin-bottom: 150px;
}

.profile-picture {
    width: 400px;
    height: auto;
}

.img-header {
    width: 100%;
    height: auto;
    margin-top: -350px;
    margin-bottom: 100px;
}

.title {
    text-align: right;
    color: #22402e;
}

.segment {
    margin-bottom: 100px;
}

.sous-title {
    color: #22402e;
    text-align: center;
}

hr.line-1 {
    border-top: 1px solid #22402e;
    opacity: 100;
    width: 10%;
    align-self: center;
}

@keyframes animation-elargir {
    from {width: 10%;}
    to {width: 12%}
}

.elargir {
    animation-name: animation-elargir;
    animation-duration: 1s;
}

@keyframes animation-retrecir {
    from {width: 12%;}
    to {width: 10%}
}

.retrecir {
    animation-name: animation-retrecir;
    animation-duration: 1s;
}